<template>
  <div>
    <div class="container">
      <div id="interactive" class="viewport scanner">
        <video autoplay="false" />
        <canvas class="drawingBuffer" />
      </div>
    </div>
    {{result}}
  </div>
</template>

<script>
import Quagga from 'quagga';
export default {
  name: 'QuaggaScanner',
  props: {
    onDetected: {
      type: Function,
      default(result) {
        console.log('detected: ', result);
      },
    },
    onProcessed: {
      type: Function,
      default(result) {
        let drawingCtx = Quagga.canvas.ctx.overlay;
        let drawingCanvas = Quagga.canvas.dom.overlay;
        if (result) {
          if (result.boxes) {
            drawingCtx.clearRect(
              0,
              0,
              parseInt(drawingCanvas.getAttribute('width')),
              parseInt(drawingCanvas.getAttribute('height'))
            );
            result.boxes
              .filter(function(box) {
                return box !== result.box;
              })
              .forEach(function(box) {
                Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, {
                  color: 'green',
                  lineWidth: 2,
                });
              });
          }
          if (result.box) {
            Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, {
              color: '#00F',
              lineWidth: 2,
            });
          }
          if (result.codeResult && result.codeResult.code) {
            Quagga.ImageDebug.drawPath(
              result.line,
              { x: 'x', y: 'y' },
              drawingCtx,
              { color: 'red', lineWidth: 3 }
            );
          }
        }
      },
    },
    readerTypes: {
      type: Array,
      default: () => ['code_128_reader'],
    },
    readerSize: {
      type: Object,
      default: () => ({
        width: 640,
        height: 480,
      }),
      validator: o =>
        typeof o.width === 'number' && typeof o.height === 'number',
    },
    aspectRatio: {
      type: Object,
      default: () => ({
        min: 1,
        max: 2,
      }),
      validator: o => typeof o.min === 'number' && typeof o.max === 'number',
    }
  },
  data: function() {
    return {
      quaggaState: {
        inputStream: {
          type: 'LiveStream',
          constraints: {
            width: { min: this.readerSize.width },
            height: { min: this.readerSize.height },
            facingMode: 'environment',
            aspectRatio: { min: 1, max: 2 },
          },
        },
        numOfWorkers: 8,
        frequency: 10,
        decoder: {
          readers: [
            "code_128_reader",
            "ean_reader",
            "ean_8_reader",
            "code_39_reader",
            "code_39_vin_reader",
            "codabar_reader",
            "upc_reader",
            "upc_e_reader",
            "i2of5_reader"
          ],
          debug: {
            showCanvas: true,
            showPatches: true,
            showFoundPatches: true,
            showSkeleton: true,
            showLabels: true,
            showPatchLabels: true,
            showRemainingPatchLabels: true,
            boxFromPatches: {
                showTransformed: true,
                showTransformedBox: true,
                showBB: true
            }
          }
        },
      },
      result: '',
      resultCollector: {}
    };
  },
  mounted: function() {
    Quagga.init(this.quaggaState, function(err) {
      if (err) {
        return console.error(err);
      }
      Quagga.start();
    });
    Quagga.onDetected(this.onDetected);
    Quagga.onProcessed(this.onProcessed);
  },
  created () {
    let _ = this;
    this.resultCollector = Quagga.ResultCollector.create({
        capture: true, // keep track of the image producing this result
        capacity: 20,  // maximum number of results to store
        blacklist: [   // list containing codes which should not be recorded
            {code: "3574660239843", format: "ean_13"}],
        filter: function(codeResult) {
            // only store results which match this constraint
            // returns true/false
            // e.g.: return codeResult.format === "ean_13";
            if (codeResult.code.includes('PCD')) {
              _.result = codeResult.code;
            }
            return true;
        }
    });
    Quagga.registerResultCollector(this.resultCollector)
  },
  destroyed: function() {
    Quagga.stop();
  },
};
</script>

<style scoped>
.viewport {
  position: relative;
}
.viewport canvas,
.viewport video {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
  top: 0;
}

.container {
  width: 500px;
  height: 500px;
  position: relative;
}
</style>