<template>
  <div id="app">
    <v-quagga :onDetected="logIt" :readerSize="readerSize" :readerTypes="['codabar_reader']" :res="getRes"></v-quagga>
  </div>
</template>

<script>
import Vue from 'vue'
import Scanner from './components/vuagga.vue';

Vue.component('v-quagga', Scanner);

export default {
  name: 'VueBarcodeTest',
  data () {
    return {
      readerSize: {
        width: 200,
        height: 200
      },
      detecteds: []
    }
  },
  methods: {
    logIt (data) {
      console.log('detected', data)
    },
    getRes (d) {
      console.log(d)
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
